body{
    background-color: #c3ceda;
    font-family: "Trebuchet MS", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Awal Header */

nav{
    width: 100%;
    background-color: #071330;
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    color: aliceblue;
    padding: 20px;
    font-size: 1.5vw;
    z-index: 999;
    box-shadow: 0px 3px 4px gray;
}

nav .logo h1{
    font-size: 3.25vw;
    text-transform: uppercase;
    letter-spacing: 5px;
}

nav .container{
    width: 37.5%;
}

#navigation{
    display: flex;
    /* border: 2px solid black; */
    list-style: none;
    justify-content: space-evenly;
}

#navigation li a{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: aliceblue;
}

#navigation li a:hover{
   color: #46a6fa;
}

@media screen and (max-width: 800px){
    nav {
        display: flex;
        flex-direction: column;
    }

    nav .logo h1{
        font-size: 4vw;
        margin-bottom: 5px;
    }

    nav .container{
        font-size: 2.7vw;
    }

    nav .container{
        width: 60%;
    }

    #navigation{
        display: flex;
        justify-content: space-between;
        /* border: 3px solid black; */
    }
}

/* Akhir Header */

main #section1 img{
    width: 100%;
}

#section1 div{
    position: absolute;
    font-size: 3vw;
    top: 32.5vw;
    left: 5%;
    color: #ffffff;
    letter-spacing: 3.5px;
    /* line-height: 50px; */
}

#section1 div h2:nth-of-type(1){
    text-transform: capitalize;
}

#section1 div h2:nth-of-type(2){
    text-transform: uppercase;
}

#section2{
    display: flex;
    flex-direction: column;
}

#section2 article{
    width: 80%;
    margin: 5vw auto;
    display: flex;
    /* border: 2px solid #738fa7; */
    border-radius: 1.5vw;
    /* background-color: #738fa7; */
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    box-shadow: -0.4vw 0.4vw 0.4vw gray;
}

#section2 article:nth-of-type(2n){
    flex-direction: row-reverse;
}

#section2 article .text{
    width: 60%;
    text-align: right;
    font-size: 2vw;
    margin: 1vw 0;
    /* border: 1px solid black; */
}

article .text h3{
    text-transform: uppercase;
}

#section2 article img{
    width: 28vw;
    border-radius: 1.4vw;
    box-shadow: -0.4vw 0.4vw 0.4vw gray;
    /* border: 2px solid black; */
    transition: 1s;
}

#section2 article img:hover{
    transform: translateY(-0.57vw) translateX(0.57vw);
    box-shadow: -0.2vw 0.2vw 0.4vw gray;
}


/* Awal Footer */

#footer{
    width: 100%;
    /* height: 200px; */
    background-color:#071330;
    padding: 10px;
    font-size: 2.5vmin;
    /* sementara */
    /* position: absolute;
    bottom: 0; */
}

.footer-content{
    /* height: 100px;  */
    /* background-color: aqua; */
    /* border: 2px solid black; */
    color: aliceblue;
    margin: 20px;
    margin-bottom: 40px;
}

.footer-content h2{
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.footer-content p{
    letter-spacing: 0.8px;
}

.contact{
    margin-bottom: 15px;
    display: flex;
    /* border: 2px solid black; */
    justify-content: left;
    align-items: center;
}

.contact .image{
    margin-right: 10px;
}

.contact .image img{
    width: 2vw;
}

#social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black;s */
    width: 250px;
}

#social a img{
    height: 40px;
    transition: 0.5s;
}

#social a img:hover{
    transform: translateY(-10px);
}

@media screen and (min-width: 800px){

    #footer{
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }

    .footer-content{
        width: 30%;
    }
}
/* Akhir Footer */

